<table mat-table *ngIf="dataSource$ | async as dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef> Timestamp </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'dd.MM.yyyy HH:mm:ss'}} </td>
  </ng-container>

  <ng-container matColumnDef="inputType">
    <th mat-header-cell *matHeaderCellDef> Input type </th>
    <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
  </ng-container>

  <ng-container matColumnDef="inputValue">
    <th mat-header-cell *matHeaderCellDef> Input value </th>
    <td mat-cell *matCellDef="let element"> {{element.inputValue}} </td>
  </ng-container>

  <ng-container matColumnDef="outputType">
    <th mat-header-cell *matHeaderCellDef> Output type </th>
    <td mat-cell *matCellDef="let element"> {{element.outputType}} </td>
  </ng-container>

  <ng-container matColumnDef="outputValue">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element"> {{element.outputValue}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
